<h1>Library Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" />
    </div>
    
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" />
    </div>
    
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<!-- <button (click)="login()">Login</button> -->

