<h1>Library Login</h1>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" formControlName="username" />
        @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
            <h5>
                Please enter a valid username
            </h5>
        }
    </div>
    
    <div>
        <label for="password">Password: </label>
        <input type="password" id="password" formControlName="password" />
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <h5>
                Please enter a valid password
            </h5>
        }
    </div>

    @if (loginForm.errors?.['invalidCredentials']) {
        <h5>
            Invalid username or password
        </h5>
    }
    
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

<!-- <button (click)="login()">Login</button> -->

