<h2>{{ availableCount() }} Available Books:</h2>
<ul>
  @for (book of books(); track book.id) {
    <li [class.unavailable]="!book.available">
      <strong>{{ book.title }}</strong> by {{ book.author }}
      <button (click)="borrow(book.id)" [disabled]="!book.available">
          {{ book.available ? 'Borrow' : 'Not Available' }}
      </button>
      @if (!book.available) {
        <span> - Loaned</span>
      }
    </li>
  }

  @if (availableCount() === 0) {
    <p>No books are currently available.</p>
  }
</ul> 